// breakpoints
$screen-xs: 			480px;
$screen-sm: 			768px;
$screen-md: 			992px;
$screen-lg: 			1200px;

// Primary/Secondary Colors
$lime:					#ffe200;
$green:					#5aa700;
$blue:					#4178be;
$dark-blue:				#084265;
$light-blue:			#25b3ee;
$dark-grey:				#323232;

$dark-primary:			#595a5d;
$secondary-grey:		#999;
$black:					#222222;
$white:					#ffffff;

$off-white:				#eef1f9;
$warm-grey:				#9f9797;
$tertiary-grey:			#ecedee;

// color associations
$headline-color:		$dark-primary;
$text-color:			$dark-primary;
$link-color:			$blue;

// btn colors
$primary-btn: 			$green;
$primary-btn-hover:		$white;