<div id="footer">
<header id="footer-logo">
<div class="container text-center">
<a href="http://qa1.kansascity.com/" target="_top"><img src="http://qa1.kansascity.com/static/images/kansascity/logo-sm.png" alt="The Kansas City Star | KansasCity.com" class="img-responsive"></a>
</div>
</header>
<div class="container hidden-xs">
<div class="row " >
<div class="col-sm-12 ">
<div id="footer-columns"
>
<div class="row " id="footer-menu-columns">
<div class="col-sm-3 footer-column border-right border-xs-remove-right">
<h2 class="heading">
<a href="http://#collapseOne">
Subscriptions
</a>
</h2>
<ul class=" footer-menu">
<li>
<a href="/site-services/plus/#navlink=mi_footer">
Digital Subscriptions
</a>
</li>
<li>
<a href="https://subscriberservices.mcclatchy.com/kan/TransactionType.asp" target="_blank">
Home Delivery
</a>
</li>
<li>
<a href="https://estar.kcstar.com/plus/">
E-Star
</a>
</li>
</ul>
</div>
<div class="col-sm-3 footer-column border-lg-right">
<h2 class="heading">
<a href="http://#collapseTwo">
Site Information
</a>
</h2>
<ul class=" footer-menu">
<li>
<a href="/customer-service/#navlink=mi_footer">
Customer Service
</a>
</li>
<li>
<a href="/customer-service/about-us/#navlink=mi_footer">
About Us
</a>
</li>
<li>
<a href="/customer-service/contact-us/#navlink=mi_footer">
Contact Us
</a>
</li>
<li>
<a href="http://www.kcstarsie.com/">
Newspapers in Education
</a>
</li>
</ul>
</div>
<div class="col-sm-3 footer-column border-right border-xs-remove-right">
<h2 class="heading">
<a href="http://#collapseThree">
Social, Mobile & More
</a>
</h2>
<ul class=" footer-menu">
<li>
<a href="http://www.facebook.com/kansascitystar" target="_blank">
Facebook
</a>
</li>
<li>
<a href="https://twitter.com/KCStar" target="_blank">
Twitter
</a>
</li>
<li>
<a href="http://www.kansascity.com/mobile/" target="_blank">
Mobile apps and E-Star
</a>
</li>
<li>
<a href="http://2save.mobi/go/site/offer/signup.jsp?code=74" target="_blank">
Mobile Alerts
</a>
</li>
<li>
<a href="/site-services/newsletters/newsletter-signups/#navlink=mi_footer">
Newsletters
</a>
</li>
</ul>
</div>
<div class="col-sm-3 footer-column">
<h2 class="heading">
<a href="http://#collapseFour">
Advertising
</a>
</h2>
<ul class=" footer-menu">
<li>
<a href="http://www.kcstaradvertising.com" target="_blank">
Advertising information
</a>
</li>
<li>
<a href="http://www.kcstaradvertising.com/display" target="_blank">
Print
</a>
</li>
<li>
<a href="http://www.kcstaradvertising.com/kansascitycom" target="_blank">
Digital
</a>
</li>
<li>
<a href="http://kansascitystar.adperfect.com" target="_blank">
Place a Classified
</a>
</li>
<li>
<a href="http://www.findnsave.com" target="_blank">
Find&amp;Save Local Shopping
</a>
</li>
</ul>
</div>
</div>
<div class="row " id="footer-legal">
<ul class=" footer-menu-legal">
<li>
<a href="/site-services/legal/copyright/#navlinks=footer" target="_top">
Copyright
</a>
</li>
<li>
<a href="/site-services/legal/commenting-policy/#navlinks=footer" target="_top">
Commenting Policy
</a>
</li>
<li>
<a href="/site-services/legal/privacy-policy/#navlink=mi_footer" target="_top">
Privacy Policy
</a>
</li>
<li>
<a href="/site-services/legal/terms-of-service/#navlink=mi_footer" target="_top">
Terms of Service
</a>
</li>
</ul>
<script>
jQuery('#footer #footer-columns .heading > a').each(function(){ $(this).attr('href',$(this).attr('href').split('//')[1]);})
</script>
</div>
</div>
</div>
</div>
</div>
<div id="accordion"
class="visible-xs panel-group">
<div class="panel">
<div class="panel-heading">
<h2 class="heading">
<a href="http://#collapseOne">
Subscriptions
</a>
</h2>
</div>
<div id="collapseOne"
class="panel-collapse collapse">
<div class="panel-body">
<ul class=" footer-menu">
<li>
<a href="/site-services/plus/#navlink=mi_footer">
Digital Subscriptions
</a>
</li>
<li>
<a href="https://subscriberservices.mcclatchy.com/kan/TransactionType.asp" target="_blank">
Home Delivery
</a>
</li>
<li>
<a href="https://estar.kcstar.com/plus/">
E-Star
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="panel">
<div class="panel-heading">
<h2 class="heading">
<a href="http://#collapseTwo">
Site Information
</a>
</h2>
</div>
<div id="collapseTwo"
class="panel-collapse collapse">
<div class="panel-body">
<ul class=" footer-menu">
<li>
<a href="/customer-service/#navlink=mi_footer">
Customer Service
</a>
</li>
<li>
<a href="/customer-service/about-us/#navlink=mi_footer">
About Us
</a>
</li>
<li>
<a href="/customer-service/contact-us/#navlink=mi_footer">
Contact Us
</a>
</li>
<li>
<a href="http://www.kcstarsie.com/">
Newspapers in Education
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="panel">
<div class="panel-heading">
<h2 class="heading">
<a href="http://#collapseThree">
Social, Mobile & More
</a>
</h2>
</div>
<div id="collapseThree"
class="panel-collapse collapse">
<div class="panel-body">
<ul class=" footer-menu">
<li>
<a href="http://www.facebook.com/kansascitystar" target="_blank">
Facebook
</a>
</li>
<li>
<a href="https://twitter.com/KCStar" target="_blank">
Twitter
</a>
</li>
<li>
<a href="http://www.kansascity.com/mobile/" target="_blank">
Mobile apps and E-Star
</a>
</li>
<li>
<a href="http://2save.mobi/go/site/offer/signup.jsp?code=74" target="_blank">
Mobile Alerts
</a>
</li>
<li>
<a href="/site-services/newsletters/newsletter-signups/#navlink=mi_footer">
Newsletters
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="panel">
<div class="panel-heading">
<h2 class="heading">
<a href="http://#collapseFour">
Advertising
</a>
</h2>
</div>
<div id="collapseFour"
class="panel-collapse collapse">
<div class="panel-body">
<ul class=" footer-menu">
<li>
<a href="http://www.kcstaradvertising.com" target="_blank">
Advertising information
</a>
</li>
<li>
<a href="http://www.kcstaradvertising.com/display" target="_blank">
Print
</a>
</li>
<li>
<a href="http://www.kcstaradvertising.com/kansascitycom" target="_blank">
Digital
</a>
</li>
<li>
<a href="http://kansascitystar.adperfect.com" target="_blank">
Place a Classified
</a>
</li>
<li>
<a href="http://www.findnsave.com" target="_blank">
Find&amp;Save Local Shopping
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="panel">
<div class="panel-heading">
<h2 class="heading">
<a href="http://#collapseFive">
More
</a>
</h2>
</div>
<div id="collapseFive"
class="panel-collapse collapse">
<div class="panel-body">
<script>
jQuery('#footer #accordion .heading > a').attr({'data-toggle':'collapse','data-parent':'#accordion'}).each(function(){ $(this).attr('href',$(this).attr('href').split('//')[1]);})
</script>
<ul class=" footer-menu-legal">
<li>
<a href="/site-services/legal/copyright/#navlinks=footer" target="_top">
Copyright
</a>
</li>
<li>
<a href="/site-services/legal/commenting-policy/#navlinks=footer" target="_top">
Commenting Policy
</a>
</li>
<li>
<a href="/site-services/legal/privacy-policy/#navlink=mi_footer" target="_top">
Privacy Policy
</a>
</li>
<li>
<a href="/site-services/legal/terms-of-service/#navlink=mi_footer" target="_top">
Terms of Service
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
if (typeof mi.pageInfo.getConf("gemini.sectionCode") == "string") {
var sectionCode = sectionCode || [];
sectionCode.push(mi.pageInfo.getConf("gemini.sectionCode"));
(function() {
var script = document.createElement("script");
script.async = true;
script.src = "https://s.yimg.com/av/gemini/ga/syndication.js";
document.body.appendChild(script);
})();
}
</script>
<!--
Widget ID: Feature Master with title feature master google retargeting:
Referenced feature mi.masterConfig.googleRemarketing, which was empty. Attempting fall-back value.
-->
<div id="wallpaper"
class="hidden-xs hidden-sm">
<div style="display: none">
<div class="ad-widget" id="div-gpt-ad-10" adtype="wallpaper" atf="y" data-ad-policy="onPageLoad"
pkg="None" defaultsize="Large"
Small = "None" Medium = "None" Extra-Small = "None" Large = "1600x600" ></div>
<script type="text/javascript">
initWallpaperAd(['#div-gpt-ad-10'], 'section[role="main"]');
createWallpaperAd();
</script>
</div>
</div>
<div id="floorboard"
>
<div class="visible-md visible-lg">
<div>
<div id="floorboard_outer">
<div id="floorTagWrapper" style="display:none;">
<div class="ad-widget" id="div-gpt-ad-11" adtype="floorboard" atf="y" pkg="None"
defaultsize="Large" data-ad-policy="onPageLoad"
Small='None'
Medium='285x70'
Extra-Small='None'
Large='285x70'
></div>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
<script>
var trackerConfig = null;
if (typeof {"name": "mi"} != 'object') {
trackerConfig = '{"name": "mi"}';
trackerSend = 'send';
}
else {
trackerConfig = {"name": "mi"};
if (!trackerConfig.hasOwnProperty('name')) {
trackerConfig.name = 'wf';
}
trackerSend = trackerConfig.name + '.send';
}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-3858463-34', trackerConfig);
ga(trackerSend, 'pageview');
</script>
<script type="text/javascript">
/* Front end properties configured in nursery */
var FrontEndConfig = {"media.jwplayer.script.location":"http://static.mcclatchyinteractive.com/escenic/jwplayer-7.1.4/jwplayer.js","media.jwplayer.hls.mimeTypes":"vnd.apple.mpegURL,application/x-mpegURL","audioPlayer":"mediaelement","media.jwplayer.sharing.enabled":"true","videoPlayer":"jwplayer","media.jwplayer.options.primary":"html5","media.jwplayer.ga.enabled":"true ","media.jwplayer.hls.enabled":"true","media.jwplayer.key":"tTakaWDwaA/5t6sLfLhYBB4EfEa1ETrJDYnTPw=="};
if (typeof(FrontEndConfig) == 'undefined') {
FrontEndConfig = {};
}
FrontEndConfig.rootURL = "http://qa1.kansascity.com/";
/* Client-side device detection */
var WFClientTypeDef = {"extraSmall":"(max-width: 767px)","medium":"(min-width: 992px) and (max-width: 1199px)","large":"(min-width: 1200px)","small":"(min-width: 768px) and (max-width: 991px)"};
var imageSizes = [80, 160, 200, 320, 400, 480, 560, 640, 720, 768, 960, 1080, 1140];
$(function(){
$.each(FrontEndConfig, function(key, value) {
/* Regular properties other than JW Player setup options
are being processed here */
if (key.indexOf('media.jwplayer.options') < 0) {
FrontEndConfig[key] = WFUtils.parseStringToJSONObject(value);
}
});
});
</script>
<script type="text/javascript">
/*Device width fix for Windows Phone 8 and IE 10*/
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
var msViewportStyle = document.createElement("style");
msViewportStyle.appendChild(
document.createTextNode(
"@-ms-viewport{width:auto!important}"
)
);
document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
}
</script>
<script type="text/javascript" src="http://qa1.kansascity.com/static/js/wf-site-1.0.70-912bded.js"></script>
<script type="text/javascript" >
mi_Ads.env.init();
</script>
<script type="text/javascript">
$(document).ready(function () {
var needs_pp = true;
$(document).on("fragmentReady", function(){
if(needs_pp){jQuery.getScript( "http://launch.newsinc.com/js/embed.js");}
needs_pp = false;
});
setTimeout(function(){
if(needs_pp){jQuery.getScript( "http://launch.newsinc.com/js/embed.js");}
needs_pp = false;
},
2000);
});
</script>
<div id="mistatstag" style="display:none;">
<script type="text/javascript" src="http://media.kansascity.com/mistats/products/escenic_s_code.js"></script>
<script type="text/javascript" src="http://media.kansascity.com/mistats/products/escenic.js"></script>
<script type="text/javascript" src="http://media.kansascity.com/mistats/finalizestats.js"></script>
</div>
